.moviesCardList {
    background-color: #202020;
    padding: 124px 70px 0;
}

@media (max-width: 768px) {
    .moviesCardList {
        padding: 80px 30px 0;
    }
}

@media (max-width: 320px) {
    .moviesCardList {
        padding: 51px 10px 0;
    }
}

.moviesCardList__list {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, 360px);
    grid-gap: 24px;
}

@media (max-width: 768px) {
    .moviesCardList__list {
        grid-template-columns: repeat(auto-fit, 342px);
         /*grid-template-rows: repeat(4, 309px);*/
        grid-gap: 36px 24px;
    }
}

@media (max-width: 320px) {
    .moviesCardList__list {
        grid-template-columns: repeat(1, 300px);
         /*grid-template-rows: repeat(4, 309px);*/
        grid-gap: 18px;
    }
}

.moviesCardList__element {
    width: 100%;
    background-color: #222222;
    border-radius: 6px;
    position: relative;
}

@media (max-width: 768px) {
    .moviesCardList__element:nth-child(n+9) {
        display: none;
    }
}

@media (max-width: 320px) {
    .moviesCardList__element:nth-child(n+6) {
        display: none;
    }
}

