.profile {
    display: flex;
    flex-direction: column;
    background-color: #202020;
    padding: 70px 0 70px;
}

.profile__title{
    margin: 0 auto;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
}

.profile__form {
    align-items: center;
    margin: 107px auto 197px;
}

.profile__form-group {
    display: flex;
    justify-content: space-between;
    width: 410px;
    padding: 17px 0 14px;
    border-bottom: 1px solid #424242;
}

.profile__form-group:last-child {
    border-bottom: none;
}

.profile__label {
    font-family: Inter;
    font-size: 11px;
    font-weight: 500;
    line-height: 13px;
    text-align: left;
    color: #FFFFFF;
    width: 100px;
}

.profile__input {
    border: none;
    background: transparent;
    width: 100%;
    outline: none;
    font-family: Inter;
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
    text-align: right;
    color: #FFFFFF;
}

.profile__buttons {
    display: flex;
    flex-direction: column;
}

.profile__button {
    border: none;
    background: transparent;
    font-family: Inter;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: center;
    color: #FFFFFF;
    margin: 7px;
}

.profile__button_red {
    color: #EE3465;
}
