.portfolio {
    background-color: #202020;
    display: block;
    padding: 21px 0 95px;
    margin: 0;
}

.portfolio__title {
    max-width: calc(100% - 140px);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #8B8B8B;
    margin: 0 auto 29px;
}

.portfolio__list {
    max-width: calc(100% - 140px);
    padding: 0 0 0;
    margin: 0 auto 0;
    list-style: none;
}

.portfolio__item {
    display: flex;
    justify-content: space-between;
    margin: 0;
    border-bottom: 1px solid #424242;
}

.portfolio__item:last-child {
    border-bottom: none;
}

.portfolio__link {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

.portfolio__text {
    margin: 20px 0 19px;
    font-family: Inter;
    font-size: 30px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: -0.04em;
    text-align: left;
    color: #FFFFFF;
}

.portfolio__pic {
    width: 29px;
    height: 60px;
    background-image: url("../../images/text__COLOR_font-main.png");
    background-repeat: no-repeat;;
    background-size: 60%;
    background-position: 6px 40px;
}