.promo {
    background-color: #073042;
    display: flex;
    justify-content: space-between;

}

@media (max-width: 880px) {
    .promo {
        flex-wrap: wrap-reverse;
    }
}

.promo__wrapper {
    margin: 38px 0 0 70px;
}

@media (max-width: 880px) {
    .promo__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 38px auto 0;
    }
}

.promo__title {
    margin-bottom: 36px;
    max-width: 640px;
    font-family: Inter;
    font-size: 50px;
    font-weight: 400;
    line-height: 58px;
    text-align: left;
    color: #FFFFFF;

    transition: max-width 0.5s;
}

@media (max-width: 768px) {
    .promo__title {
        font-size: 40px;
        font-weight: 400;
        line-height: 50px;
        text-align: center;
        margin: 11px auto 0;
    }
}

@media (max-width: 350px) {
    .promo__title {
        font-size: 30px;
        font-weight: 400;
        line-height: 38px;
        letter-spacing: -0.04em;
        text-align: center;
        margin: 6px auto 0;
    }
}

.promo__subtitle {
    width: 310px;
    opacity: 50%;
    font-family: Inter;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    color: #FFFFFF;
    margin: 0;
}

@media (max-width: 768px) {
    .promo__subtitle {
        width: 260px;
        margin: 21px auto 0;
    }
}

@media (max-width: 320px) {
    .promo__subtitle {
        margin: 24px auto 0;
    }
}

.promo__bottom {
    display: flex;
    width: 129px;
    height: 36px;
    margin: 146px 0 75px 0;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 3px;
    align-items: center;
    justify-content: center;
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    color: #FFFFFF;
    text-decoration: none;
}

@media (max-width: 768px) {
    .promo__bottom {
        margin: 92px 0 75px 0;
    }
}

@media (max-width: 320px) {
    .promo__bottom {
        margin: 80px 0 75px 0;
    }
}

.promo__image {
    max-width: 310px;
    width: 100%;
    height: 304px;
    background-image: url("../../images/text__COLOR_landing-logo.svg");
background-size: contain;
    margin: 72px 70px 0 0;
}

@media (max-width: 880px) {
    .promo__image {
        margin: 138px auto 0;
    }
}

@media (max-width: 320px) {
    .promo__image {
        max-width: 210px;
        width: 100%;
        height: 206px;
        margin: 66px auto 0;
    }
}