.searchForm {
    background-color: #202020;
    display: block;
    padding: 66px 70px 0;
    margin: 0;
}

@media (max-width: 768px) {
    .searchForm {
        padding: 70px 30px 0;
    }
}

@media (max-width: 320px) {
    .searchForm {
        padding: 68px 14px 0;
    }
}

.searchForm__wrapper {
    margin: 0 auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #202020;
    height: 72px;
    box-sizing: border-box;
    border: none;
}

@media (max-width: 320px) {
    .searchForm__wrapper {
        height: 56px;
    }
}

.searchForm__input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    outline: none;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #8B8B8B;
    position: absolute;
    padding: 0;
    text-indent: 25px;
    border: 1.5px solid  rgba(170, 170, 170, 0.2);
    border-radius: 8px;
}

.searchForm__input:focus {
    border-color: #4285F4;
}

@media (max-width: 320px) {
    .searchForm__input {
        font-size: 16px;
        font-weight: 400;
        line-height: 16px;
        text-align: left;
    }
}

.searchForm__submit {
    width: 100px;
    height: 52px;
    padding: 0;
    border-radius: 5px;
    background-color: #4285F4;
    border: none;
    cursor: pointer;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    right: 10px;
}

@media (max-width: 320px) {
    .searchForm__submit {
        width: 80px;
        height: 44px;
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
        text-align: center;
        right: 6px;
    }
}