.main {
    min-height: 71vh;
    background-color: #202020;
    padding-bottom: 220px;
}

@media (max-width: 768px) {
    .main {
        padding-bottom: 225px;
    }
}

@media (max-width: 320px) {
    .main {
        padding-bottom: 248px;
    }
}
