.filterCheckbox {}

.filterCheckbox__usually {
    margin-top: 26px;
    padding-bottom: 43px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid rgba(170, 170, 170, 0.2);
}

@media (max-width: 768px) {
    .filterCheckbox__usually {
        padding-bottom: 51px;
    }
}

@media (max-width: 320px) {
    .filterCheckbox__usually {
        margin-top: 30px;
        padding-bottom: 62px;
    }
}

.filterCheckbox__usually input[type="checkbox"] {
    display: none;
}

.filterCheckbox__custom {
    width: 36px;
    height: 20px;
    background-image: url('../../images/smalltumb.svg'); /* Изображение для неотмеченного состояния */
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 10px;
    transition: background-image 0.3s;
}

/* Стили для стилизованного чекбокса в отмеченном состоянии */
.filterCheckbox__usually input[type="checkbox"]:checked + .filterCheckbox__custom {
    background-image: url('../../images/smalltumboff.svg'); /* Изображение для отмеченного состояния */
}

.filterCheckbox__label {
    margin-left: 4px;
    font-family: Inter;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: #FFFFFF;
}

@media (max-width: 320px) {
    .filterCheckbox__label {
        margin-left: 4px;
        font-size: 11px;
        font-weight: 400;
        line-height: 18px;
        text-align: left;
        color: #FFFFFF;
    }
}