.aboutProject {
    background-color: #202020;
    display: block;
    padding-bottom: 95px;
}

.aboutProject__title {
    margin: 0;
    padding: 111px 70px 22px;
    font-family: Inter;
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: -0.04em;
    text-align: left;
    color: #FFFFFF;
}

.aboutProject__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 50px 0 0;
    margin: 0 70px 0;
    border-top: 1px #DADADA solid;
}

.aboutProject__element-title {
    width: 550px;
    margin: 20px 0 0 0;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.04em;
    text-align: left;
    color: #FFFFFF;
}

.aboutProject__element-text {
    width: 550px;
    margin-top: 26px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #FFFFFF;
}

.aboutProject__time-schedule {
    display: grid;
    grid-template-columns: 228px auto;
    margin: 96px 70px 0;
    grid-template-rows: 36px 46px;
    background-color: #202020;
}

.aboutProject__schedule-item {
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    justify-content: center;
    text-align: center;
    color: #8B8B8B;
    display: flex;
    align-items: center;
}

.aboutProject__custom-back1 {
    background-color: #3DDC84;
}

.aboutProject__custom-text1 {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: center;
    color: black;
}

.aboutProject__custom-back2 {
    background-color: #303030;
}

.aboutProject__custom-text2 {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
}