.register {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #202020;
    padding: 70px 0 70px;
    margin: 0 auto 0;
}

@media (max-width: 768px) {
    .register {
        padding: 232px 0 70px;
    }
}


@media (max-width: 320px) {
    .register {
        padding: 0;
    }
}

.register__wrapper {
    width: 396px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

@media (max-width: 456px) {
    .register__wrapper {
        width: calc(100% - 60px);
    }
}

@media (max-width: 320px) {
    .register__wrapper {
        padding: 56px 0 28px;
        align-items: center;
    }
}

.register__title{
    margin: 36px 0 0;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    text-align: left;
    color: #FFFFFF;
}

@media (max-width: 456px) {
    .register__title {
        width: 100%;
    }
}

@media (max-width: 320px) {
    .register__title {
        margin: 46px auto 0;
        text-align: center;
    }
}

.register__form {
    width: 396px;
    align-items: center;
    margin: 13px auto 0;
}

@media (max-width: 456px) {
    .register__form {
        width: 100%;
    }
}

@media (max-width: 320px) {
    .register__form {
        margin: 56px auto 0;
    }
}

.register__form-group {
    display: flex;
    flex-direction: column;
    padding: 25px 0 0;
}

@media (max-width: 456px) {
    .register__form-group {
        width: 100%;
    }
}

@media (max-width: 320px) {
    .register__form-group {
        padding: 24px 0 0;
    }
}

.register__label {
    font-family: Inter;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    text-align: left;
    color: #8B8B8B;
    width: 100px;
}

@media (max-width: 320px) {
    .register__label {
    }
}

.register__input {
    border: none;
    border-bottom: 1px solid #424242;
    background: transparent;
    width: 100%;
    outline: none;
    padding: 0 0 10px;
    margin-top: 5px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: left;
    color: #FFFFFF;
}

.register__input:focus {
border-bottom-color: #4285F4;
}

@media (max-width: 320px) {
    .register__input {
        padding: 0 0 10px;
        margin-top: 5px;
    }
}

.register__input_red {
    color: #EE3465;
}

.register__span {
    font-family: Inter;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    text-align: left;
    color: #EE3465;
}

@media (max-width: 320px) {
    .register__span {
    }
}

.register__buttons {
    width: 396px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 70px;
}

@media (max-width: 768px) {
    .register__buttons {
        position: static;
    }
}

@media (max-width: 456px) {
    .register__buttons {
        width: 100%;
    }
}

@media (max-width: 320px) {
    .register__buttons {
        position: fixed;
        bottom: 30px;
        width: calc(100% - 60px);
    }
}

.register__button {
    width: 100%;
    height: 45px;
    border: none;
    border-radius: 3px;
    background:#4285F4;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    margin: 133px auto 16px;
    cursor: pointer;
}

@media (max-width: 320px) {
    .register__button {
        height: 45px;
        margin: 221px 0 16px;
        font-size: 12px;
        font-weight: 500;
        line-height: 15px;
        text-align: center;
    }
}

.register__links {
    display: flex;
    justify-content: center;
}

.register__text {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: center;
    color: #8B8B8B;
    margin: 0;
}

@media (max-width: 456px) {
    .register__text {
        margin: 0;
        font-size: 12px;
        font-weight: 400;
        line-height: 15px;
        text-align: center;
    }
}

.register__login-link {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: center;
    text-decoration: none;
    color: #4285F4;
    margin-left: 6px;
}

@media (max-width: 456px) {
    .register__login-link {
        margin-left: 6px;
        font-size: 12px;
        font-weight: 400;
        line-height: 15px;
        text-align: center;
    }
}